<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form>
    <label>Flavor</label>
    <input id="flavor" name="flavor" type="text">
    <label>Size</label>
    <input id="size" name="size" type="text">
    <label>Rating</label>
    <input id="rating" name="rating" type="number">
    <label>Image Url</label>
    <input id="imageUrl" name="imageUrl" type="url">
    <button type="submit">Submit</button>
  </form>

  <ul id="cupcakeList">

  </ul>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://unpkg.com/jquery"></script>
  <script src="/static/script.js"></script>
</body>
</html>